*.pyc
*.shard
.vagrant
.gitignore
tmp
*~
*.log
*.cprof
.eggs/
build/
*.egg-info/
.coverage
.cache/
dist/
.pybuild/
debian/debhelper-build-stamp
debian/files
debian/python-eos-data-distribution.postinst.debhelper
debian/python-eos-data-distribution.postrm.debhelper
debian/python-eos-data-distribution.prerm.debhelper
debian/python-eos-data-distribution.substvars
debian/python-eos-data-distribution/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
m4/
missing
.deps/
*.o
