Source: eos-data-distribution
Section: python
Priority: standard
Maintainer: Philip Withnall <withnall@endlessm.com>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 dh-systemd,
 gir1.2-notify-0.7,
 gir1.2-soup-2.4 (>> 2.56.0-2),
 python-all,
 python-avahi,
 python-dbus,
 python-docutils,
 python-pyndn,
 python-pytest,
 python-setuptools,
 python-setuptools-git,
 python-sphinx,
Standards-Version: 3.9.7
Testsuite: autopkgtest-pkg-python
X-Python-Version: >= 2.7
Homepage: https://github.com/endlessm/endless-ndn
Vcs-Git: https://github.com/endlessm/endless-ndn.git
Vcs-Browser: https://github.com/endlessm/endless-ndn

Package: python-eos-data-distribution
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 adduser,
 nfd,
 gir1.2-notify-0.7,
 gir1.2-soup-2.4 (>> 2.56.0-2),
 python-avahi,
 python-dbus,
 python-gi,
 python-pyndn,
Description: NDN producers and daemons (Python 2)
 Named Data Networking provides name-based access to data over the
 network.
 .
 This package contains the services and library for Python 2.

Package: edd-avahi-monitor
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-eos-data-distribution
Description: NDN avahi monitor
 Named Data Networking provides name-based access to data over the
 network.
 .
 This package contains a service that will monitor the avahi network to
 discover NDN peers

Package: edd-usb-producer
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-eos-data-distribution
Description: NDN USB producer
 Named Data Networking provides name-based access to data over the
 network.
 .
 This package contains a service that will monitor USB drives for NDN data
 spawning a producer when one is plugged into the machine
