[Unit]
Description=EDD USB Producer

[Service]
Type=simple
ExecStart=/usr/bin/edd-usb-producer
Restart=on-abort
Environment=GIO_USE_VFS=local
Environment=GVFS_DISABLE_FUSE=1
Environment=GVFS_REMOTE_VOLUME_MONITOR_IGNORE=1
CapabilityBoundingSet=
PrivateNetwork=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes
