[Desktop Entry]
Type=Application
Name=Prensa Libre Updater
Exec=gdbus call --session --dest=com.endlessm.EknSubscriptionsDownloader --object-path=/com/endlessm/EknSubscriptionsDownloader --method=com.endlessm.EknSubscriptionsDownloader.DownloadSubscription 10521bb3a18b573f088f84e59c9bbb6c2e2a1a67
Icon=software-update-available
Terminal=false
